<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/sections/coding.css" />
  </head>
  <body>
    <div class="coding__container">
      <div class="coding__container-text">
        <div class="coding__title common">
          <p class="cursive">Beginners welcome</p>
          <h2>Start coding in seconds</h2>
          <p>
            Go ahead, give it a try. Our hands-on learning environment means
            you'll be writing real code from your very first lesson.
          </p>
          <div class="coding__buttons">
            <button>Continue lesson</button>
            <button>More beginner courses</button>
          </div>
        </div>
      </div>

      <div class="coding-code__container">
        <div class="coding__top">
          <svg
            viewBox="0 0 28 22"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
            role="img"
            width="30"
            height="20"
          >
            <title>Favicon Icon</title>
            <mask id="FaviconIcon-mask-3792">
              <path
                d="M19.196.044s0 .022 0 0c.022.044.044.088.067.154v21.56c0 .066-.023.11-.045.132a.204.204 0 01-.157.066H.18c-.045 0-.09 0-.112-.022A.198.198 0 010 21.78V.176C0 .088.045.022.112 0h18.95c.044 0 .111.022.134.044zm-2.101 19.648V2.286c0-.088-.045-.154-.112-.176H2.235c-.067.022-.112.088-.112.176v17.406c0 .088.045.154.112.176h14.748c.067-.022.112-.088.112-.176zm10.704.176c.134 0 .201.066.201.198v1.736c0 .132-.09.198-.201.198h-6.525c-.134 0-.201-.088-.201-.198v-1.736c0-.132.089-.198.2-.198H27.8zM8.089 8.088c1.386 0 2.458.55 3.196 1.428.045.066.067.198-.022.264l-1.207 1.055c-.09.066-.201.044-.268-.044C9.34 10.286 8.849 10 8.089 10c-.826 0-1.452.396-1.72 1.165-.157.461-.201.989-.201 1.692s.044 1.253.2 1.714c.269.792.895 1.187 1.721 1.187.76 0 1.23-.285 1.699-.791.067-.088.178-.088.268-.022L11.263 16c.089.066.067.176.022.264-.738.857-1.81 1.406-3.196 1.406-1.854 0-3.262-.9-3.798-2.527C4.089 14.57 4 13.846 4 12.879c0-.967.09-1.692.29-2.264.537-1.626 1.945-2.527 3.8-2.527z"
              ></path>
            </mask>
            <g mask="url(#FaviconIcon-mask-3792)">
              <rect width="100%" height="100%" fill="#ffffff"></rect>
            </g>
          </svg>
        </div>

        <div class="coding-editor__container">
          <div class="coding__editor-top">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#ffffff"
                role="img"
                width="18"
                height="18"
              >
                <title>Arrow Chevron right Icon</title>
                <mask id="ArrowChevronLeftIcon-mask-3794">
                  <path
                    d="M16.25 23.25L5.53 12.53a.749.749 0 010-1.06L16.25.75"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  ></path>
                </mask>
                <g mask="url(#ArrowChevronLeftIcon-mask-3794)">
                  <rect width="100%" height="100%" fill="#ffffff"></rect>
                </g>
              </svg>
              <span>Code</span>
            </div>
            <section class="coding__editor">
              <aside>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
                <p>8</p>
                <p>9</p>
                <p>10</p>
                <p>11</p>
                <p>12</p>
              </aside>
              <div class="coding__section" contenteditable>
                <div class="coding__comment">
                  <span>// Add your own text between</span>
                </div>
              </div>
            </section>
          </div>

          <div class="coding__output-top">
            <div>
              <span>Output</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#ffffff"
                role="img"
                width="18"
                height="18"
              >
                <title>Arrow Chevron right Icon</title>
                <mask id="ArrowChevronLeftIcon-mask-3794">
                  <path
                    d="M16.25 23.25L5.53 12.53a.749.749 0 010-1.06L16.25.75"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  ></path>
                </mask>
                <g mask="url(#ArrowChevronLeftIcon-mask-3794)">
                  <rect width="100%" height="100%" fill="#ffffff"></rect>
                </g>
              </svg>
            </div>
            <section class="coding__output"></section>
          </div>
        </div>

        <div class="coding__bottom">
          <button class="yellow-btn">Run</button>
        </div>
      </div>
    </div>
  </body>
</html>
